@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*:hover {
    border: none;
    outline: none;
}
*:focus {
    border: none;
    outline: none;
}
.body {
    background-image: url(../img/background.jpeg);
    background-size: 150%;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;

}

.header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.calculator {
    display: flex;
    min-width: 360px;
    min-height: 360px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 211, 2);
    border-radius: 35px;
    background: rgb(35, 35, 35);
    flex-direction: column;


}

.value-box {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 48px 0 0;
    justify-content: space-between;
}

.input-box {
    width: 78px;
    height: 100%;
    margin: 0 22px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.text-box {
    margin: 0 0 0 22px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.calculation-text {
    color: rgb(166, 166, 166);
    margin: 0;
    font-weight: 500;
}

.calculation-text:not(:last-child) {
    margin: 0 0 10px;
}

.input {
    border: 1px solid rgb(255, 211, 2);
    border-radius: 10px;
    background: none;
    width: 68px;
    height: 20px;
    color: rgb(185, 185, 185);
    padding: 0 0 0 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



.calculation-button {
    background:  rgb(255, 211, 2);
    width: 230px;
height: 35px;
border-radius: 9px;
margin: 26px auto 0;
font-size: 16px;
border: none;
}

.calculation-button:active {
    opacity: 0.6;
}

.past-text {
    color: rgb(166, 166, 166);
    margin: 24px auto 0;
    font-size: 16px;
    font-weight: 400;
}

.result {
    color: rgb(255, 211, 2);
    margin: 30px auto 0;
    font-size: 22px;
    font-weight: 400;
}





.info {
    margin-top: 10px;
    flex-direction: row;
        align-items: center;
        justify-content: center;
        display: flex;
        min-width: 360px;
        min-height: 360px;
        box-sizing: border-box;
        border: 2px solid rgb(255, 211, 2);
        border-radius: 35px;
        background: rgb(35, 35, 35);
        padding: 15px 0;
        flex-direction: column;
       

}

.info_coin-list {
    margin: 0 0 0;
    padding: 0;
    height: 100%;
    width: 90%;
}

.coin-list_item {
    list-style: none;
    color: rgb(166, 166, 166);;
    font-size: 18px;
    padding: 12px 0 12px;
    font-weight: 400;
    display: flex;
    border-bottom: 1px rgb(255 211 2 / 10%) solid;
}

.coin-list_item:first-child{
    padding: 0 0 12px;
}

.coin-list_item>p {
    margin: 0;
    font-weight: 500;
}

.coin-list_item>p:last-child {
    margin: 0 0 0 auto;
}

.coin-list_item:last-child {
    padding: 12px 0 0 0;
    border: none;
}



.info-value {
    margin: 0 22px 0 0;
    padding: 0;
}

.title {
    color: white;
    margin: 25px 0 0;
}

.to-price {
    display: flex;
    align-items: center;
    margin: 0 18px 18px auto;
}

.to-priceText {
    color: white;
    margin: 0 6px 0 0;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  /* Скрыть стандартный чекбокс */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
  }

  .switch input:active {
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
  }

  .switch:focus,
.switch:active,
.switch:checked {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* Убираем подсветку на мобильных */
}

  /* Стиль для фона свича */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(35, 35, 35);;
    transition: 0.4s;
    border-radius: 34px;
    border: 2px solid rgb(255, 211, 2);
    /* outline: 2px  rgb(255, 211, 2) solid; */
    
  }

  /* Стиль для круга внутри свича */
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 4px;
    bottom: 3px;
    background-color: rgb(255, 211, 2);;
    transition: 0.4s;
    
    
  }

  /* Когда переключатель активен */
  input:checked + .slider {
    background-color: rgb(255, 211, 2);;
  }

  /* Когда переключатель активен, двигаем круг */
  input:checked + .slider:before {
    transform: translateX(25px);
    background-color: rgb(35, 35, 35);
  }